.header {
    padding-top: 380px !important;
    padding-left: 120px;
}
.card {
    border-bottom: 3px solid black;
    padding-bottom: 40px;
    display: flex;
    max-width: 1200px;
    gap: 60px;
}

.card-text {
    display: flex;
    max-width: 50%;

}

.card img {
    max-width: 50%;
}

.card-text h6 {
    color: var(--Main-Black, #181717);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 24px */
}

.card-text p {
    color: var(--Main-Black, #181717);
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 28.8px */
}

.card-text a {
    color: var(--Main-Black, #181717);
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.header h1:hover {
    color: rgb(150, 9, 9);
    transition: 0.5s;
}

.card-text a:hover {
    color: red;
    transition: 0.5s;
}

.card-list {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.card-text {
    flex-direction: column;
    justify-content: space-between;
}

.personal-info-image {
    width: 600px;
    height: 600px;
    opacity: 0.8;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), radial-gradient(87.39% 86.44% at 69.24% 0%, #F3A8FF 0%, #FFB2CA 0.01%, rgba(185, 255, 200, 0.00) 100%), radial-gradient(114.56% 110.9% at 21.63% 0%, #9AB8FF 0%, rgba(169, 255, 240, 0.00) 100%), radial-gradient(129.77% 91.6% at 56.53% 107.7%, #A8FFE0 0%, rgba(255, 255, 255, 0.00) 100%), rgba(196, 196, 196, 0.10);
}
.personal-info-image img {
padding: 130px;
}
.personal-info{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    gap: 60px;
}
.personal-info-text {
    display: flex;
    flex-direction: column;
    max-width: 540px;  
}
.personal-info-text p{
line-height: 15px;
}